#wrapper {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

/*root*/
#root {
    display: flex; 
    flex-direction: column-reverse;
    margin-top: 40px;
    transform-origin: left top;
}

/*message*/
.message {
    width: 800px;
    height: auto;
    
    padding: 20px;
    margin: 20px;

    background-color: white;
    border: 1px solid #aaaaaa;
    box-shadow: 2px 2px 3px #000000;
}

.message > * {
    margin-bottom: 10px;
}

.message > span {
    margin-right: 10px;
    margin-left: 10px;
}

.message > .name {
    margin-left: 0px;
}

.message > button {
    margin-top: 10px;
    display: block;
}

/*post*/ 
.post {
    max-width: 800px;
}

.post:first-child {
    margin: 20px;
}

.post > * {
    margin-bottom: 10px;
}

.post > textarea { 
    width: 100%;
    height: 140px;
}

.post > input {
    margin-right: 10px;
}

.post > button {
    display: block;
}

/*buttons*/
#buttons {
    position: fixed;
    top: 20px;
    right: 20px;
}

#buttons div {
    margin-bottom: 20px;
}

#buttons div * {
    margin-bottom: 10px;
}

#buttons #zoom button {
    width: 40px;
    display: block;
}
